* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h2,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/*-------Logo and title blocks (repeat)-------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px;
}

.logo {
  color: var(--color-href);
  font-family: "Raleway", Times, serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
}
.logo span {
  color: var(--color-link);
}

.logo :link {
  color: var(--color-href);
}

.title {
  line-height: 1.16;
  color: var(--color-href);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

/*-------------Root----------------------*/
:root {
  --color-link: #2196f3;
  --color-white: #ffffff;
  --color-main: #2f303a;
  --color-main-team: #f5f4fa;
  --color-contacts: #757575;
  --color-footer-contacts: rgba(255, 255, 255, 0.6);
  --color-href: #212121;
}
/*----------------------------------------*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
/*------------Header---------------*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-main-team);
}

.header__main {
  width: 100%;
  align-items: center;
  display: flex;
}
.header__logo {
  margin: 0px 93px 0px 0px;
}
.header__contacts {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header__contacts :hover,
.header__contacts :focus {
  color: var(--color-link);
  outline: none;
}

.main__menu {
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
}
.main__menu [href] {
  color: var(--color-href);
  text-decoration: none;
}
.main__menu *:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.main__menu :hover,
.main__menu :focus {
  color: var(--color-link);
  outline: none;
}

.cotactes-tel {
  line-height: 1.71;
  color: var(--color-contacts);
  text-decoration: none;
}

.contacts-mail {
  line-height: 1.71;
  margin: 0px 50px 0px 0px;
  color: var(--color-contacts);
  text-decoration: none;
}
/*================= Main =========================*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header {
  width: 100%;
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}

.main__title {
  max-width: 696px;
  justify-self: center;
  text-align: center;
  color: var(--color-white);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  margin: 0px 0px 37px 0px;
}

.main__button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-link);
  padding: 10px 31px;
  border: 0px;
  text-align: center;
  outline: none;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.875;
  cursor: pointer;
}

/*=========== MAIN__BENEFITS ====================*/

.main__benefits {
  padding-top: 94px;
}

.benefits__list {
  display: flex;
  color: var(--color-href);
  list-style: none;
}

.benefits__list > *:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.benefits__item {
  flex: 1 1 25%;
}

.benefits__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}

.benefits__subtitle {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-contacts);
}

/*=========== MAIN__DIRECTION ==============*/

.direction__list {
  display: flex;
  margin-top: 50px;
}

.direction__list > *:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

/*============== MAIN__TEAM ===============*/

.main__team {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-team);
}

.team__list {
  margin-top: 50px;
  display: flex;
}

.team__list > *:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.team__block {
  text-align: center;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--color-white);
}

.team__name {
  line-height: 1.18;
  margin: 30px 0 10px 0;
  color: var(--color-href);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.team__subtitle {
  line-height: 1.18;
  color: var(--color-contacts);
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
/*=============== FOOTER ======================*/
.footer {
  padding: 60px 0;
  background-color: var(--color-main);
  width: 100%;
}

.footer__main {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  max-width: 146px;
  color: var(--color-white);
}

.footer__address {
  line-height: 1.71;
  margin-bottom: 9px;
  color: var(--color-white);
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03em;
}
.footer__contacts :hover,
.footer__contacts :focus {
  color: var(--color-link);
  outline: none;
}
.footer__mail {
  line-height: 1.71;
  color: var(--color-footer-contacts);
  margin: 0 0 9px 0;
  text-decoration: none;
}

.footer__tel {
  line-height: 1.71;
  color: var(--color-footer-contacts);
  text-decoration: none;
}
/*=================== PORTFOLIO ====================*/

.filter__list {
  display: flex;
  justify-content: center;
}
.filter__list > *:not(:last-child) {
  margin: 0px 8px 0px 0px;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.625;
  font-family: inherit;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--color-main-team);
  cursor: pointer;
}

/*================== PROJECTS ========================*/
.main__projects {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}
.projects__item {
  padding: 0;
  margin: 15px;
  max-width: 370px;
  position: relative;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.active {
  background-color: var(--color-link);
  color: var(--color-white);
}
.link__active :visited {
  color: var(--color-link);
}
.project__title {
  margin: 20px 0 4px 24px;
  color: var(--color-href);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.project__subtitle {
  color: var(--color-contacts);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: 0 0 20px 24px;
}
