// Файл обнуляющих стилей
@import "_nullstyle";

//=====================================================//
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
//============Шрифты==================================//

.logo {
	color: #212121;
	font-family: "Raleway", Times, serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 31px;
	span {
		color: #2196f3;
	}
	:link {
		color: #212121;
	}
}
.title {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1.08px;
	text-align: center;
}
//================Wrapper==================================//
.wrapper {
	width: 1600px;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 -800px;
	position: absolute;
	left: 50%;
}
//=================HEADER=================================//
body {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;

	&__logo {
		margin: 0px 92px 0px 15px;
	}

	&__main {
		display: flex;
	}

	&__contacts {
		display: inline-block;
		margin: 0px 15px 0px 0px;
		font-weight: 500;
		letter-spacing: 0.28px;
		:first-child:hover {
			cursor: pointer;
			color: #2196f3;
		}
	}
}
.main {
	&__nav {
		margin: 0px 92px 0px 0px;
	}

	&__menu {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.28px;
		display: flex;
		> *:not(:last-child) {
			margin: 0px 50px 0px 0px;
		}
		:first-child:hover {
			cursor: pointer;
			color: #2196f3;
		}
	}

	&__item {
	}
}

.cotactes-tel {
	color: #757575;
}

.contacts-mail {
	margin: 0px 50px 0px 0px;
	color: #757575;
}
//===============MAIN===============================//
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__header {
		background-color: #2f303a;
		height: 600px;
		width: 1600px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		max-width: 696px;
		justify-self: center;
		text-align: center;
		color: #ffffff;
		font-size: 44px;
		font-weight: 900;
		letter-spacing: 2.64px;
		line-height: 60px;
		text-transform: uppercase;
		margin: 200px 0px 37px 0px;
	}

	&__button {
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		background-color: #2196f3;
		padding: 10px 31px;
		border: 0px;
		text-align: center;
		box-sizing: content-box;
		outline: none;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.96px;
		line-height: 30px;
	}

	&__benefits {
		margin: 92px 15px 0 15px;
		display: flex;
		color: #212121;
		letter-spacing: 0.42px;
		> *:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}
	}
	.benefits {
		&__item {
			flex: 1 1 25%;
		}
		&__title {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			margin: 0 0 10px 0;
		}

		&__subtitle {
			color: #757575;
			line-height: 24px;
		}
	}
}
.main {
	&__direction {
		margin: 94px 15px 0 15px;
	}
}
.direction {
	&__row {
		flex: 1 1 33.333px;
	}

	&__column {
		margin: 50px 0 94px 0;
	}

	&__item {
		display: flex;
		> *:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}
	}
}
.main {
	&__team {
		height: 648px;
		width: 1600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #f5f4fa;
	}
}
.team {
	&__title {
		margin: 94px 0 0 0;
	}
	&__row {
		width: 1200px;
		margin: 0px 15px 0 15px;
		flex: 1 1 25%;
	}

	&__column {
		margin: 50px 0 94px 0;
	}

	&__item {
		display: flex;
		> *:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}
	}
}

.item {
	&__block {
		text-align: center;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		background-color: #ffffff;
	}

	&__title {
		margin: 30px 0 10px 0;
		color: #212121;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.48px;
	}

	&__subtitle {
		color: #757575;
		font-size: 16px;
		letter-spacing: 0.48px;
		margin-bottom: 30px;
	}
}

//==============FOOTER=============================//
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__main {
		background-color: #2f303a;
		height: 252px;
		width: 1600px;
		display: flex;
		flex-direction: column;
	}
	&__content {
		margin: 60px 0 0 215px;
	}
	&__logo {
		margin: 0 0 20px 0;
	}

	&__address {
		margin: 0 0 9px 0;
		color: #ffffff;
		letter-spacing: 0.42px;
		font-style: normal;
		line-height: 24px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		height: 21px;
		color: rgba(255, 255, 255, 0.6);
		letter-spacing: 0.42px;
		line-height: 24px;
		margin: 0 0 9px 0;
	}
	&__mail {
		color: rgba(255, 255, 255, 0.6);
		margin: 0 0 9px 0;
	}
	&__tel {
		color: rgba(255, 255, 255, 0.6);
	}
}
