body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-appearance {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0px;
    &__title {
        line-height: 1.16;
        color: $color-href;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-align: center;
    }
}

.block__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.button {
    display: block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $color-link;
    min-width: 200px;
    min-height: 50px;
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.875;
}

@mixin transition($property) {
    transition: $property 250ms $timing-function;
}
