$color-link: #2196f3;
$color-white: #ffffff;
$color-main: #2f303a;
$color-main-team: #f5f4fa;
$color-contacts: #757575;
$color-footer-contacts: rgba(255, 255, 255, 0.6);
$color-href: #212121;
$color-icons: #afb1b8;
$color-icons-footer: rgba(255, 255, 255, 0.1);
$color-project-item: #eeeeee;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
